<div class="relative flex flex-row min-h-screen">
  <app-navigation class="hidden md:block"></app-navigation>
  <div class="p-4">
    <app-game-information
      class="absolute z-20 top-2 left-0 p-10"
      *ngIf="!!currentGame?.id"
      [currentGame]="currentGame"
      [onClose]="clearCurrentGame"
    ></app-game-information>
    <input
      type="search"
      [(ngModel)]="searchTerm"
      placeholder="Search..."
      (ngModelChange)="onSearchTermChange($event)"
      (keydown)="onEnter($event)"
    />
    <div *ngIf="loading">Loading...</div>
    <div *ngIf="games?.count === 0">No games found</div>
    <div *ngIf="!loading" class="grid grid-cols-2 md:grid-cols-4 gap-2">
      <app-game-card
        *ngFor="
          let game of games.results
            | paginate
              : {
                  id: 'server',
                  itemsPerPage: 20,
                  currentPage: page,
                  totalItems: total
                }
        "
        [game]="game"
        (click)="setCurrentGame(game)"
      ></app-game-card>
    </div>
    <div *ngIf="games?.count > 0" class="has-text-centered">
      <div class="spinner" [ngClass]="{ hidden: !loading }"></div>
      <pagination-controls
        (pageChange)="getPage($event)"
        id="server"
      ></pagination-controls>
    </div>
  </div>
</div>
